/* header.css */
.header {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    border-bottom: 1px solid #ddd;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    height: 40px;
    margin-right: 10px;
}

.logo-text {
    font-size: 24px;
    font-weight: 700;
    color: #111111;
}

.nav {
    display: flex;
    font-size:24px;
    align-items: flex-start;
}

.nav-link {
    margin-left: 20px;
    text-decoration: none;
    color: #111111;
    font-weight: 500;
}

.nav-link:hover {
    text-decoration: underline;
}

.user-icon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.user-icon-link {
    text-decoration: none;
}

.user-icon:hover {
    opacity: 0.7;
    cursor: pointer;
}

.welcome a,
.welcome span {
    margin-left: 5px;
    vertical-align: middle;
}

.main-nav {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    padding: 12px 0;
    gap: 40px;
    border-bottom: 1px solid #ddd;
}


.main-nav-link {
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    transition: color 0.2s;
}

.main-nav-link:hover {
    color: #ccc;
    text-decoration: underline;
}
