body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #fffef7;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

h1 {
    color: #000000;
    margin-bottom: 30px;
}

form {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

button:hover {
    background-color: #595959;
}
