<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>데일리룩 등록</title>
    <link rel="stylesheet" th:href="@{/css/dailylook_form.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>
<div th:replace="header :: header"></div>
<div class="dailylook-form-container">
  <h1>데일리룩 등록하기</h1>

  <form th:action="@{/dailylook}" method="post" enctype="multipart/form-data">
    <label>사진 업로드:</label>
    <input type="file" name="imageFile" accept="image/*" required>

    <label>코멘트:</label>
    <textarea name="comment" rows="4" required></textarea>

    <label>공개여부:</label>
    <div class="radio-group">
      <label><input type="radio" name="isPublic" value="true" checked> 공개</label>
      <label><input type="radio" name="isPublic" value="false"> 비공개</label>
    </div>

    <button type="submit">등록하기</button>
  </form>
</div>
</body>
</html>
