<!-- header.html 전체 -->
<div th:fragment="header">
    <header class="header">
        <a href="/" class="logo-container">
            <img src="/images/logo.png" alt="ClosetLog 로고" class="logo">
            <h1 class="logo-text">ClosetLog</h1>
        </a>
        <div class="welcome">
            <a href="/mypage" class="user-icon-link">
                <img src="/images/user.png" alt="user아이콘" class="user-icon" />
            </a>
            <span th:text="${#authentication.principal.nickname}">사용자</span>님, 환영합니다!
            <a href="/logout" class="nav-link">로그아웃</a>
        </div>
    </header>
    <nav class="main-nav">
        <a href="/dailylooks" class="main-nav-link">데일리룩</a>
        <a href="/mycloset" class="main-nav-link">나의 옷장</a>
        <a href="/list" class="main-nav-link">옷장 이야기</a>
        <a href="/my" class="main-nav-link">마이 데일리룩</a>
        <a href="/style" class="main-nav-link">코디 추천</a>
    </nav>
</div>
