<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <title>게시글 목록</title>
  <link rel="stylesheet" th:href="@{/css/board.css}">
  <link rel="stylesheet" href="/css/header.css">
</head>
<body>
<div th:replace="header :: header"></div>
<h2>게시글 목록</h2>

<div th:if="${message}">
  <p style="color: green;" th:text="${message}"></p>
</div>

<table border="1" cellpadding="10">
  <thead>
  <tr>
    <th>번호</th>
    <th>제목</th>
    <th>작성자</th>
    <th>작성일</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="board, iterStat : ${boardList}">
    <td th:text="${iterStat.count}">1</td>
    <td> <a th:href="@{/view(id=${board.id})}" th:text="${board.subject}">제목</a></td>
    <td th:text="${boardNicknames[board.id]}">작성자</td>
    <td th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm')}">작성일</td>
  </tr>
  </tbody>
</table>

<br>
<a th:href="@{/write}">글쓰기</a>
</body>
</html>
