<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <title>게시글 목록</title>
  <link rel="stylesheet" th:href="@{/css/board.css}">
  <link rel="stylesheet" href="/css/header.css">
</head>
<body>
<div th:replace="header :: header"></div>
<form th:action="@{/list}" method="get" class="board-search">
  <select name="type">
    <option value="all" th:selected="${type == 'all'}">전체</option>
    <option value="subject" th:selected="${type == 'subject'}">제목</option>
    <option value="nickname" th:selected="${type == 'nickname'}">작성자</option>
  </select>
  <input type="text" name="keyword" th:value="${keyword}" placeholder="검색어를 입력해주세요">
  <button type="submit">검색</button>
</form>

<table class="board-table">
  <thead>
  <tr>
    <th>번호</th>
    <th>제목</th>
    <th>작성자</th>
    <th>작성일</th>
    <th>조회</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="board, iter : ${boardList}">
    <td th:text="${iter.count}"></td>
    <td><a th:href="@{/view(id=${board.id})}" th:text="${board.subject}"></a></td>
    <td th:text="${boardNicknames[board.id]}"></td>
    <td th:text="${#temporals.format(board.createdDate, 'yy-MM-dd')}"></td>
    <td th:text="${board.viewCount != null ? board.viewCount : 0}">0</td>
  </tr>
  </tbody>
</table>

<div class="pagination" th:if="${boardPage.totalPages > 1}">
  <a th:each="i : ${#numbers.sequence(1, boardPage.totalPages)}"
     th:href="@{/list(page=${i - 1})}"
     th:text="${i}"
     th:classappend="${i == boardPage.number + 1} ? ' active' : ''"
     class="page">1</a>
</div>


<div class="write-btn-box">
  <a th:href="@{/write}" class="write-btn">글쓰기</a>
</div>

<script th:inline="javascript">
  let msg = [[${message}]];
  if (msg) {
    alert(msg);
  }
</script>
</body>
</html>
